streamlit==0.78.0
pandas==1.2.3
tqdm==4.57.0
db-sqlite3==0.0.1
textblob==0.15.3
Wave==0.0.2
SoundFile==0.10.3.post1
SpeechRecognition==3.8.1
sklearn==0.0
scikit-learn==0.22.2.post1
scikit-neuralnetwork==0.7
SoundFile==0.10.3.post1
glob2==0.7
googletrans==3.0.0
ipython==7.21.0
librosa==0.8.0
matplotlib==3.3.4
moviepy==1.0.3
my-voice-analysis==0.7
pydub==0.24.1
PyAudio==0.2.11
noisereduce==1.1.0
nltk==3.5
pickleshare==0.7.5
noisereduce==1.1.0
nltk==3.5
praat-parselmouth==0.4.0
PyAudio==0.2.11
pydub==0.25.1
Rockyviiv5:10 PM
reportlab==3.5.65
secure-smtplib==0.1.1
moviepy==0.3
